nav {
    place-items: center;
    height: 5rem;
    width: 100vw;
    background: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.navConatiner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.navLinks {
    display: flex;
    gap: 19.5rem;
    align-items: center;
    justify-content: space-around;
}

.navLinks a {
    transition: var(--transition);
}

.navLinks a:hover {
    color: var(--color-secondary);
}

.activeNav {
    position: relative;
}

.activeNav::after {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-white);
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
}


.nav_toggle_btn {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 151px;
    margin-left: 46%;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    filter: invert(1);
    border: none;
    z-index: 100;
    font-size: 3.8rem;
    cursor: pointer;
}

/* click do botão */

.show_nav {
    display: flex;
}

.hide_nav {
    display: none;
}

/* Media Queries (medium screens) */

@media screen and (max-width: 1024px){
   .navLinks {
    gap: 12.5rem;
   }

   .nav_toggle_btn {
    margin-left: 37%;
   }

}

@media screen and (max-width: 600px){
    .navLinks {
     gap: 3rem;
     font-size: 14px;
    }
    .nav_toggle_btn {
     margin-left: 38%;
     font-size: 40px;
     clip-path: circle(50% at 50% 50%);
     top: 7%;
     width: 42px;
     height: 41px;
    }
 
}

