/* modifica em todas as páginas */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-secondary: #815B5B;

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  line-height: 1.7;
  overflow-x: hidden;
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

a {
  color: var(--color-black);
}

img {
  display: flex;
  object-fit: cover;
  width: 100%;
}